<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Historia comida, gastronomic, restaurante, quienes son, comida, restaurante">
    <meta name="description"
        content="Historia de nuestro restaurante, la forma en la que buscamos llegar a cada comensal y así mismo a su corazón">
    <title>Historia Gastronomic</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3c4a1dd9a9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <!-- INICIO MENU -->

        <nav class="navbar navbar-light  ">
            <div class="container-fluid hover_menu">
                <a class="navbar-brand" href="../index.html"><img src="../img/icon.png" alt="icon"
                        class=" space_icon_nav"></i></a>
                <ul class="nav justify-content-end text_tipe">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Gastronomía</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="histoty.html">Historia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="menu.html">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="taste.html">Sabor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- FIN MENU-->

        <!--  INICIO DEL CARRUSEL -->
        <div id="carouselExampleIndicators" class="cover-container carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.semana.com/resizer/ZNQ2TXQPcbXA3tSgCuY-mbLDVvg=/1200x646/filters:format(jpg):quality(50)//cloudfront-us-east-1.images.arcpublishing.com/semana/YDBFGMINLZAA3AQJQVQRXJGHTQ.jpg"
                        class="d-block w-100 img_cocina_fondo" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://1.bp.blogspot.com/-ZJBPPcL1p1E/Xi7oUnBXIdI/AAAAAAAAcgA/dmSm9wlctwE0mAWnBT7zNEsziMu0Lw-1ACLcBGAsYHQ/s1600/Restaurante-Bogota-c-THE-FORK.JPG"
                        class="d-block w-100 img_cocina_fondo" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.cocinayvino.com/wp-content/uploads/2020/08/www.cocinayvino.com-restaurantes-latinos-que-destacan-segun-travel-leisure-cntravellercom-1.jpg"
                        class="d-block w-100 img_cocina_fondo" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- FIN DEL CARRUSEL-->
    </header>
    <main>

        <!-- CONTENEDOR 1-->


        <div class="container-fluid p-1 pb-5   " style="background-color: rgb(146, 102, 72);">
            <div class="card mb-3 mx-sm-4 mx-2" style=" background-color: rgb(255, 255, 255);">
                <div class="row  mlg-4 m-sm-1 " style="border-radius: 70px;">
                    <div class="col-md-4">
                        <img src="../img/cocinero.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title text-center">Nuestra Historia</h2>
                            <p class="card-text text-center pt-3">Amediados del 2020, empezó la historia del
                                Restaurante Gastronomic cuando nació en la variante de Las Palmas frente al
                                Hotel Intercontinental de Colombia. Se buscaba dotar a la ciudad de un espacio
                                acogedor para familias, empresarios y turistas, que reflejara la cultura colombiana
                                y a la vez ofrecer a los visitantes lo mejor de nuestra comida típica nacional
                                (Bandeja Paisa, Ajiaco, Sancocho, Mondongo, Sudado, etc.) complementada con
                                asados (llamados “Planchitas” en Gastronomic).<br>
                                Poco tiempo después, la ciudad demandó más sedes para prestar servicio
                                a los ejecutivos que trabajaban en el Centro de la ciudad, y en el año
                                2021 apareció la sede del Centro Comercial Oviedo. En octubre de 2022
                                abrió Gastronomic Viva Colombia. Todas siguen abiertas el día de hoy y
                                con Servicio a Domicilio.<br>
                                Durante estos años Gastronomic se ha convertido en un referente por su
                                excelente cocina, por sus acogedores espacios, por su esmerado servicio
                                y por sus espacios que recuerdan la arquitectura más tradicional de
                                Colombia y de la cultura paisa. Hoy en día es considerado uno de los mejores
                                restaurantes de Colombia.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container p-2">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">

                        <div class="card-body">
                            <div class="features-icons-icon d-flex icono_cocina "><i class="fa-solid fa-plate-wheat"></i></div>
                            <h3 class="card-title text-center">Misión</h3>
                            <p class="card-text text-center pt-3">Buscamos ser reconocidos por brindar a nuestros clientes
                                sentimientos felices y situaciones felices dignas de compartir momentos con nuestros seres 
                                queridos. Ponernos en el corazón de las
                                familias colombianas y de todos los que nos visitan. Buscando contribuir
                                y dedicar con nuestros granitos de arena, a crear una Colombia feliz y
                                en paz para traer un futuro mejor para nuestras próximas generaciones y
                                nuestros próximos chef's en el país.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="features-icons-icon d-flex icono_cocina "><i class="fa-regular fa-lightbulb"></i></div>
                            <h3 class="card-title text-center">Visión</h3>
                            <p class="card-text text-center pt-3">Somos una empresa dedicada a brindar momentos
                                inolvidables y servicios gastronómicos de alta
                                calidad; ponemos todo nuestro “amor” y máximo empeño en beneficio de nuestros clientes;
                                desarrollamos nuestro servicio a partir de los talentos y los valores de nuestros
                                colaboradores, somos una empresa que día a día lucha por desarrollar mejores condiciones
                                laborales y un mejor nivel de vida

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">

                        <div class="card-body">
                            <div class="features-icons-icon d-flex icono_cocina "><i class="fa-solid fa-hand-holding-heart"></i></div>
                            <h3 class="card-title text-center">Prospecto</h3>
                            <p class="card-text text-center pt-3"> Gastronomic es un restaurante comprometido
                                con la innovación la creatividad y el servicio. Buscamos brindar a nuestros
                                clientes una amplia gama de comidas y bebidas nacionales e internacionales
                                satisfaciendo las necesidades de nuestros clientes,
                                preparando productos y servicios de excelente calidad, para lograr consigo una 
                                experiencia inolvidable para nuestros comensales.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>

        <!-- NUESTROS CLIENTES -->

        <section class="testimonios text-center ">
            <div class="container">
                <h2 class="mb-5">Lo que opinan nuestros clientes...</h2>
                <div class="row pt-2">
                    <div class="col-lg-4 ">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3 img_cliente" src="../img/mujer-de-negocios (1).png" alt="..." />
                            <h5>Margaret E.</h5>
                            <p class="font-weight-light mb-0">"Una atención increíble, fui con mi familia, la pasamos genial!"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3 img_cliente" src="../img/mujer-de-negocios.png" alt="..." />
                            <h5>Rosita S.</h5>
                            <p class="font-weight-light mb-0">"Me gusto demasiado la comida, y las porciones eran las indicadas, volveré"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3 img_cliente" src="../img/profesor.png" alt="..." />
                            <h5>Ernesto P.</h5>
                            <p class="font-weight-light mb-0">"El ambiente fue muy entretenido la pasamos bien con mis nietos"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FIN CONTENEDOR -->

        <div class="container-fluid" style="padding: 0 !important;">
            <div class="mx-auto">
                <div class="contenedor">
                    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/elle-restaurantes-decoracion-bonita-instagram-raimunda-madrid-1573068471.jpg"
                        class="img-fluid imagen_tamaño" alt="...">
                    <div class="centrado"><a class=" hover_boton_universal  " href="contact.html">Contáctanos</a>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- INICIO FOOTER-->

    <footer class="py-3 " style="background-color: #f7e7cd; color:black;">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="../index.html" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="histoty.html" class="nav-link px-2 text-muted">Historias</a></li>
            <li class="nav-item"><a href="menu.html" class="nav-link px-2 text-muted">Menu</a></li>
            <li class="nav-item"><a href="taste.html" class="nav-link px-2 text-muted">Sabor</a></li>
            <li class="nav-item"><a href="contact.html" class="nav-link px-2 text-muted">Contacto</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Juana González</p>
    </footer>

    <!-- FINAL FOOTER-->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>