<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Menú comida, comidas, restaurantes, carta, desayunos, almuerzo, cena">
    <meta name="description"
        content="Aquí encontrarás todos los menús de nuestro restaurante, con gran variedad de sabores y menús infantiles para cualquier miembro de la familia">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3c4a1dd9a9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">


<body>
    <header>
        <!-- INICIO MENU -->

        <nav class="navbar navbar-light  ">
            <div class="container-fluid hover_menu">
                <a class="navbar-brand" href="../index.html"><img src="../img/icon.png" alt="icon"
                        class=" space_icon_nav"></i></a>
                <ul class="nav justify-content-end text_tipe">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Gastronomía</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="histoty.html">Historia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="menu.html">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="taste.html">Sabor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- FIN MENU-->



        <!-- SVG IMAGEN -->

        <div style="height: 200px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M-28.21,-42.91 C105.52,286.69 198.08,-69.55 502.82,29.13 L510.72,157.41 L-1.12,163.33 Z"
                    style="stroke: none; fill: rgb(138, 180, 138);"></path>
            </svg></div>


    </header>

    <main>

        <!-- INICIO GALERIA MENU -->

        <div class="album py-2 color_bgr_menu mostrar_1">
            <div class="container">
                <h2>Algunos de nuestros platos</h2>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2 py-4  ">
                    <div class="col">
                        <div class=" shadow-sm width_change_img">
                            <img src="http://c.files.bbci.co.uk/DBBF/production/_105055265_bandejapaisa.jpg"
                                alt="comida" class="bd-placeholder-img  -img-top img_radious" width="100%" height="225">
                        </div>
                    </div>
                    <div class="col">
                        <div class=" shadow-sm width_change_img">
                            <img src="https://www.cocinacaserayfacil.net/wp-content/uploads/2020/03/Platos-de-comida-que-pides-a-domicilio-y-puedes-hacer-en-casa_2.jpg"
                                alt="comida" class="bd-placeholder-img -img-top img_radious" width="100%" height="225">

                        </div>
                    </div>
                    <div class="col">
                        <div class=" shadow-sm width_change_img">
                            <img src="https://www.hola.com/imagenes/cocina/recetas/20191014150987/platos-de-lunes-a-viernes/0-729-376/brochetas-cordero-z.jpg"
                                alt="comida" class="bd-placeholder-img -img-top img_radious" width="100%" height="225">

                        </div>
                    </div>

                    <div class="col">
                        <div class=" shadow-sm width_change_img">
                            <img src="https://i.blogs.es/4c9325/1366_2000-17-/840_560.jpg" alt="comida"
                                class="bd-placeholder-img -img-top img_radious" width="100%" height="225">


                        </div>
                    </div>
                    <div class="col">
                        <div class=" shadow-sm width_change_img">
                            <img src="https://imagenescityexpress.scdn6.secure.raxcdn.com/sites/default/files/2017-05/gastronomia%20colombiana.jpg"
                                alt="comida" class="bd-placeholder-img -img-top img_radious" width="100%" height="225">


                        </div>
                    </div>
                    <div class="col">
                        <div class=" shadow-sm width_change_img">
                            <img src="https://gastronomiaycia.republica.com/wp-content/uploads/2021/01/elplatoharvard_2-680x448.jpg"
                                alt="comida" class="bd-placeholder-img -img-top img_radious" width="100%" height="225">


                        </div>
                    </div>

                    <div class="col">
                        <div class=" shadow-sm width_change_img">

                            <img src="http://www.lacocinadealimerka.com/web/uploads/nutricion/.thumbs/ThinkstockPhotos-480238679_c43622.jpg"
                                alt="comida" class="bd-placeholder-img -img-top img_radious" width="100%" height="225">


                        </div>
                    </div>
                    <div class="col">
                        <div class=" shadow-sm width_change_img">
                            <img src="https://static-sevilla.abc.es/media/gurmesevilla/2012/01/comida-rapida-casera.jpg"
                                alt="comida" class="bd-placeholder-img -img-top img_radious" width="100%" height="225">


                        </div>
                    </div>
                    <div class="col">
                        <div class=" shadow-sm width_change_img">
                            <img src="https://www.cocinayvino.com/wp-content/uploads/2016/11/48507368_ml-e1480356693520-1200x675.jpg"
                                alt="comida" class="bd-placeholder-img -img-top img_radious" width="100%" height="225">

                        </div>
                    </div>
                </div>

            </div>

            <a class=" boton_universal  d-grid gap-1 col-3 mx-auto mb-4" href="views/histoty.html">Saber
                más</a>
        </div>

        <!-- FIN GALERIA MENU-->

        <!-- GALERIA Responsive-->

        <div class="album py-2 color_bgr_menu mostrar_2">
            <div class="container">
                <h2>Algunos de nuestros platos</h2>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <!-- CARDS DEL CAROUSEL -->
                        <div class="carousel-item active">
                            <div class="card tam_carousel_img width_change_img">
                                <img src="http://c.files.bbci.co.uk/DBBF/production/_105055265_bandejapaisa.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Combo #1</h5>
                                    <div class="d-grid gap-2 col-6 mx-auto pt-2">
                                        <a href="#" class="btn color_change_combo ">Seleccionar Combo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card tam_carousel_img width_change_img">
                                <img src="https://www.cocinacaserayfacil.net/wp-content/uploads/2020/03/Platos-de-comida-que-pides-a-domicilio-y-puedes-hacer-en-casa_2.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Combo #2</h5>
                                    <div class="d-grid gap-2 col-6 mx-auto pt-2">
                                        <a href="#" class="btn color_change_combo ">Seleccionar Combo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card tam_carousel_img width_change_img">
                                <img src="https://www.hola.com/imagenes/cocina/recetas/20191014150987/platos-de-lunes-a-viernes/0-729-376/brochetas-cordero-z.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Combo #3</h5>
                                    <div class="d-grid gap-2 col-6 mx-auto pt-2">
                                        <a href="#" class="btn color_change_combo ">Seleccionar Combo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card tam_carousel_img width_change_img">
                                <img src="https://i.blogs.es/4c9325/1366_2000-17-/840_560.jpg" class="card-img-top"
                                    alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Combo #4</h5>
                                    <div class="d-grid gap-2 col-6 mx-auto pt-2">
                                        <a href="#" class="btn color_change_combo ">Seleccionar Combo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card tam_carousel_img width_change_img">
                                <img src="https://imagenescityexpress.scdn6.secure.raxcdn.com/sites/default/files/2017-05/gastronomia%20colombiana.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Combo #6</h5>
                                    <div class="d-grid gap-2 col-6 mx-auto pt-2">
                                        <a href="#" class="btn color_change_combo ">Seleccionar Combo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card tam_carousel_img width_change_img">
                                <img src="https://gastronomiaycia.republica.com/wp-content/uploads/2021/01/elplatoharvard_2-680x448.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Combo #7</h5>
                                    <div class="d-grid gap-2 col-6 mx-auto pt-2">
                                        <a href="#" class="btn color_change_combo ">Seleccionar Combo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card tam_carousel_img width_change_img">
                                <img src="http://www.lacocinadealimerka.com/web/uploads/nutricion/.thumbs/ThinkstockPhotos-480238679_c43622.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Combo #8</h5>
                                    <div class="d-grid gap-2 col-6 mx-auto pt-2">
                                        <a href="#" class="btn color_change_combo ">Seleccionar Combo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card tam_carousel_img width_change_img">
                                <img
                                    src="https://static-sevilla.abc.es/media/gurmesevilla/2012/01/comida-rapida-casera.jpg">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Combo #9</h5>
                                    <div class="d-grid gap-2 col-6 mx-auto pt-2">
                                        <a href="#" class="btn color_change_combo ">Seleccionar Combo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- FIN -->

        <section class="section-padding">
            <div class="container py-5">
                <div class="section-content">
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <div class="heading-section text-center">

                                <h2>
                                    Nuestro Menu
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row media_querie_menu col-md-12 ">
                        <div class="  col-lg-4  menu-wrap">
                            <div class="heading-menu">
                                <h3 class="text-center mb-5">Desayuno</h3>
                            </div>

                            <!-- #1 -->
                            <div class="menus d-flex align-items-center centrado_cards">


                                <div class="mb-3 tamanio_card" >
                                    <div class="row g-0">
                                        <div class="col-md-4 tamano_espacio">
                                           <img class="tam_icono_des" src="../img/te.png" alt="comida">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Desayuno Completo</h5>
                                                <p class="card-text">Caldo de costilla, huevos, pan y café</p>
                                                <p class="card-text"><small class="text-muted">$17.000</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #2 -->
                            <div class="menus d-flex align-items-center">

                                <div class="mb-3" style="max-width: 390px;">
                                    <div class="row g-0 ">
                                        <div class="col-md-4 tamano_espacio">
                                             <img class="tam_icono_des" src="../img/desayuno_premium (1).png" alt="comida">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Desayuno Premium</h5>
                                                <p class="card-text">Carne en bistec, arroz, jugo de naranja y pan</p>
                                                <p class="card-text"><small class="text-muted">$20.000</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- #3 -->
                            <div class="menus d-flex align-items-center">

                                <div class="mb-3" style="max-width: 390px;">
                                    <div class="row g-0">
                                        <div class="col-md-4 tamano_espacio">
                                             <img class="tam_icono_des" src="../img/huevos.png" alt="comida">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Desayuno Sencillo</h5>
                                                <p class="card-text">Huevos al gusto, pan, chocolate y/o café</p>
                                                <p class="card-text"><small class="text-muted">$12.000</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" col-lg-4 menu-wrap">
                            <div class="heading-menu">
                                <h3 class="text-center mb-5">Almuerzo</h3>
                            </div>
                            <!-- #4 -->
                            <div class="menus d-flex align-items-center">

                                <div class="mb-3" style="max-width: 390px;">
                                    <div class="row g-0">
                                        <div class="col-md-4 tamano_espacio">
                                             <img class="tam_icono_des" src="../img/carne.png" alt="comida">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Churrasco</h5>
                                                <p class="card-text">Corte de mariposa, papa a la francesa y cerezada</p>
                                                <p class="card-text"><small class="text-muted">$32.000</small></p>                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- #5 -->
                            <div class="menus d-flex align-items-center">

                                <div class="mb-3 tarjeta_tam" style="max-width: 390px;">
                                    <div class="row g-0">
                                        <div class="col-md-4 tamano_espacio">
                                             <img class="tam_icono_des" src="../img/pollo.png" alt="comida">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Pollo al rush</h5>
                                                <p class="card-text">Pechuga gratinada, papas al gusto y salsas de la casa</p>
                                                <p class="card-text"><small class="text-muted">$29.000</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- #6 -->
                            <div class="menus d-flex align-items-center">

                                <div class="mb-3 tarjeta_tam" style="max-width: 390px;">
                                    <div class="row g-0">
                                        <div class="col-md-4 tamano_espacio">
                                             <img class="tam_icono_des" src="../img/cena_ligera.png" alt="comida">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Carne a la french</h5>
                                                <p class="card-text">Carne en cuadro con especies, papa al gusto, ensalada, y arroz</p>
                                                <p class="card-text"><small class="text-muted">$25.000</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="  col-lg-4 menu-wrap">
                            <div class="heading-menu">
                                <h3 class="text-center mb-5">Cena</h3>
                            </div>

                            <!-- #7 -->
                            <div class="menus d-flex align-items-center">
                                <div class="mb-3 tarjeta_tam" style="max-width: 390px;">
                                    <div class="row g-0">
                                        <div class="col-md-4 tamano_espacio">
                                             <img class="tam_icono_des" src="../img/tortilla.png" alt="comida">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Cena suave</h5>
                                                <p class="card-text">Tortilla de pedazos de carne, aderezos y ensalada</p>
                                                <p class="card-text"><small class="text-muted">$27.000</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- #8 -->
                            <div class="menus d-flex align-items-center">

                                <div class="mb-3 tarjeta_tam" style="max-width: 390px;">
                                    <div class="row g-0">
                                        <div class="col-md-4 tamano_espacio">
                                             <img class="tam_icono_des" src="../img/salmon.png" alt="comida">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Cena ligera</h5>
                                                <p class="card-text">Ensalada, con vinagreta y sabrosas hiervas</p>
                                                <p class="card-text"><small class="text-muted">$25.000</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- #9 -->
                            <div class="menus d-flex align-items-center">

                                <div class="mb-3 tarjeta_tam" style="max-width: 390px;">
                                    <div class="row g-0">
                                        <div class="col-md-4 tamano_espacio">
                                             <img class="tam_icono_des" src="../img/gamba.png" alt="comida">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Cena al gusto</h5>
                                                <p class="card-text">Gamba coloquial, acompañada de fruta</p>
                                                <p class="card-text"><small class="text-muted">$30.000</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

       

        <!-- FIN DE RECETA-->



        <!-- INICIO BOTÓN CONTACTENOS -->
        <div class="container-fluid" style="padding: 0 !important;">
            <div class="mx-auto">
                <div class="contenedor">
                    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/elle-restaurantes-decoracion-bonita-instagram-raimunda-madrid-1573068471.jpg"
                        class="img-fluid imagen_tamaño" alt="...">
                    <div class="centrado"><a class=" hover_boton_universal   " href="contact.html">Contáctanos</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN BOTÓN CONTACTENOS-->
    </main>
    <!-- INICIO FOOTER-->

    <footer class="py-3 " style="background-color: #f7e7cd; color:black;">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="../index.html" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="histoty.html" class="nav-link px-2 text-muted">Historias</a></li>
            <li class="nav-item"><a href="menu.html" class="nav-link px-2 text-muted">Menu</a></li>
            <li class="nav-item"><a href="taste.html" class="nav-link px-2 text-muted">Sabor</a></li>
            <li class="nav-item"><a href="contact.html" class="nav-link px-2 text-muted">Contacto</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Juana González</p>
    </footer>

    <!-- FINAL FOOTER-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>